.ais-InstantSearch{
    margin-top: -67px;
}
.s-inner{
    position: relative;
    top: 1px
}
.search-bar{
    background: #B39084;
    padding: 80px 0 95px 0;
}
.search-bar h2{
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    color: #ffffff;
}

/* home 6 search left side start*/
.brands-ls ul {
    list-style: none;
    font-size: 18px;
    padding-left: 0;
}
.brands-ls ul li label{
    display: flex;
    align-items: center;
}

/* .brands-ls .ais-RefinementList-checkbox {
    border: 1px solid #FFFFFF;
    background: #fff;
    box-sizing: border-box;
    border-radius: 3px;
    width: 24px;
    height: 24px;
} */

.brands-ls .ais-RefinementList-labelText {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    text-align: left;
    padding: 0 0 0 10px;
    width: 70%;
}

.brands-ls .ais-RefinementList-count {
    /* padding-left: 80px; */
    background-color: #fff;
    color: #000;
    width: 50px;
    text-align: center;
    border-radius: 15px;
}

/* home 6 search left side end*/

/* search top start */
    .search-top .ais-SearchBox {
        padding: 20px 48px;
        background: #B39084;
        border-radius: 20px 20px 0px 0px;
        /* display: flex;
        justify-content: center; */
    }
    .search-top .ais-SearchBox input{
        background: transparent;
        width: 90%;
        border: none; 
        padding-left: 10px;
        color: #fff;
    }
    .search-top .ais-SearchBox input::placeholder{
        color: #ffffff;
    }

    /* input[type="checkbox"] {
        appearance: none;
        background-color: transparent;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 1px solid #ffffff;
        border-radius: 3px;
        transform: translateY(-0.075em);
        cursor: pointer;
      }
      input[type="checkbox"] {
        display: grid;
        place-content: center;
      }
      
      input[type="checkbox"]::before {
        content: "f00c";
        width: 0.65em;
        height: 0.65em;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--form-control-color);
      }
       */
       .brands-ls input[type='checkbox']{
		appearance: none;
		height: 20px;
		width: 20px;
		background: transparent;
        border: 1px solid #ffffff;
		cursor: pointer;
        border-radius: 3px;
		}
		.brands-ls input[type='checkbox']:after{
			font-family: "Font Awesome 5 Free"; 
            font-weight: 600; 
            content: "\f00c";
			display: none;
			color: #fff;
            font-size: 12px;
            position: relative;
            left: 3px;
		}
		/* input[type='checkbox']:hover{
			background: #000;
		} */
		.brands-ls input[type='checkbox']:checked:after{
			display: block;
		}

    .search-top .ais-SearchBox input:focus-visible{
        outline: none;
    }

    .search-top .ais-SearchBox .ais-SearchBox-submit{
        float: left;
        background: transparent;
        border: none;
    }

    .search-top .ais-SearchBox-reset {
        border: none;
        background: #B39084;
    }
    .bi-content{
        padding: 0 100px;
    }
    /* .triangle{
        width: 0;
        position: relative;
        top: 66px;
        border-bottom: 15px solid #b39084;
        border-left: 15px solid transparent;
        border-radius: 0;
        right: 15px;
    } */


    .ais-SearchBox {

		/* width: 90px; */
		padding: 10px 15px;
		/* height: 30px; */

		position: relative;

		background: #fff;

		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.ais-SearchBox:before,
	.ais-SearchBox:after {
		content: "";
		position: absolute;

		height: 10px;
		width: 20px;

		bottom: 0;
	}

	.ais-SearchBox:after {
		right: -20px;

		border-radius: 0 0 0 10px;
		-moz-border-radius: 0 0 0 10px;
		-webkit-border-radius: 0 0 0 10px;

		-webkit-box-shadow: -10px 0 0 0 #B39084;
		box-shadow: -10px 0 0 0 #B39084;
	}

	.ais-SearchBox:before {
		left: -20px;

		border-radius: 0 0 10px 0;
		-moz-border-radius: 0 0 10px 0;
		-webkit-border-radius: 0 0 10px 0;

		-webkit-box-shadow: 10px 0 0 0 #B39084;
		box-shadow: 10px 0 0 0 #B39084;
	}


/* clears the 'X' from Internet Explorer */
.search-top input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
.search-top input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
.search-top input[type="search"]::-webkit-search-decoration,
.search-top input[type="search"]::-webkit-search-cancel-button,
.search-top input[type="search"]::-webkit-search-results-button,
.search-top input[type="search"]::-webkit-search-results-decoration { display: none; }


    .search-top .ais-SearchBox .ais-SearchBox-submit svg{
        fill: #ffffff;
        width: 16px;
        height: 16px;
    }
/* search top end */

/* content right side start */
    .content-rs ul {
        list-style: none;
    }
    .content-rs ul {
        display: grid;
        grid-template-columns: 32.5% 32.5% 32.5%;
        grid-gap: 2.5%;
    }

    .content-rs .ais-Hits-item {
        background: linear-gradient(340.57deg, rgba(255, 255, 255, 0.4) 6.26%, rgba(255, 255, 255, 0.1) 88.86%);
        box-shadow: 0px 4px 16px -1px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(30px);
        border-radius: 10px;
        margin-top: 15px;
        padding: 33px 20px;
    }

    .hit-tags {

        display: inline;
        margin: 0px 5px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 7px 12px;
        background: #FFFFFF;
        border-radius: 100px;
        font-style: normal;
        font-weight: 450;
        font-size: 12px;
        line-height: 15px;
        color: rgba(57, 43, 38, 0.7);
    }

    .hit-name h4{
        padding-top: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 35px;
        color: #333333;
    }

    .hit-description .ais-Highlight .ais-Highlight-nonHighlighted {
        /* font-size: 16px;
        padding-right: 5px; */
        font-style: normal;
        font-weight: 450;
        font-size: 16px;
        line-height: 20px;
        color: #333333;
        opacity: 0.8;
    }

    .hit-date {
        font-style: normal;
        font-weight: 450;
        font-size: 16px;
        line-height: 20px;
        color: #333333;
        opacity: 0.8;
    }
/* content right side end */

/* pagination right side start */
    .peg-row{
        background: #b39084;
        padding: 0 0 40px 0;
    }
     .pagination-rs ul {
        list-style: none;
        display: flex;
        justify-content: end;
        cursor: pointer;
    }

    /* .pagination-rs .ais-Pagination-item {
        background: #392B26;
        border-radius: 5px;
        padding: 15px 28px;
        margin: 0px 7px;
        font-style: normal;
        font-weight: 450;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        word-spacing: 9px;
    } */

    .pagination-rs .ais-Pagination-link--selected {
        color: #fff;
        background: #392B26;
        border-radius: 5px;
        padding: 15px 28px;
        margin: 0px 7px;
        font-style: normal;
        font-weight: 450;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        word-spacing: 9px;
    }

    .pagination-rs .ais-Pagination-link {
        color: #fff;
        background: #392B26;
        border-radius: 5px;
        padding: 15px 28px;
        margin: 0px 7px;
        font-style: normal;
        font-weight: 450;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        word-spacing: 9px;
    }

    /* .pagination-image .ais-Pagination-item--previousPage .ais-Pagination-link {
        background-image: url("../image/left.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    } */

    /* .pagination-rs .ais-Pagination-link--selected {
        background-color: brown;
        padding: 5px 12px;
    } */

/* pagination right side end */
@media (max-width: 1024px) {
    .content-rs ul {
        grid-template-columns: 50% 50%;
        padding: 0px 0px 100px 0px;
    }
    .hit-name h4{
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
    }
    .search-bar {
        padding: 80px 0 135px 0;
    }
}

@media (max-width: 991px) {
    .content-rs ul {
        padding-left: 0
     }
     .content-rs ul {
         grid-template-columns: 100%;
         grid-gap:0
     }
     .bi-content {
        padding: 0 24px
     }
}
@media (max-width: 768px) {
    .ais-InstantSearch{
        margin-top: 0px;
    }
    .search-bar {
        padding: 20px 0px 40px;
    }
    .search-top .ais-SearchBox {
        padding: 10px 30px;
    }
    .content-rs ul {
        padding: 0px;
    }
    
}
@media (max-width: 475px) {
   
    .brands-ls{
        display: none;
    }
    .bi-content {
        padding: 0
    }
    /* .pagination-rs .ais-Pagination-item {
        font-size: 12px;
        padding: 10px 15px;
    } */
    .pagination-rs .ais-Pagination-link--selected {
        font-size: 12px;
        padding: 10px 15px;
    }
    .pagination-rs .ais-Pagination-link {
        font-size: 12px;
        padding: 10px 15px;
    }
    .pagination-rs ul{
        justify-content: center;
        padding: 0;
    }
    .search-top .ais-SearchBox input{
        width: unset;
    }
}

